.item_icon {
    color: rgb(255, 255, 255);;
    font-size: 35px;
    transform: rotate(-45deg);
}

.item {
    transition: 0.5s;   
}

.item_01 {
    top: 103px;
    right: 200px;
}

.item_02 {
    top: 139px;
    right: 163px;
}

.item_03 {
    top: 175px;
    right: 126px;
}

.item_04 {
    top: 139px;
    right: 89px;
}

.item_05 {
    top: 103px;
    right: 53px;
}

.item_hidden {
    top: 66px;
    right: 127px;
    z-index: 10;
}