header {
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: #ffffff;  
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 90%;
    margin: 0rem 3rem;
}
